*.log
*.tmp
.vscode/
.idea/
# 忽略操作系统生成的文件（例如，macOS 或 Windows）
.DS_Store       # macOS 下的 Finder 元数据
Thumbs.db       # Windows 缩略图缓存

# 忽略 Python 编译后的文件
*.pyc
*.pyo

*.ipynb*

# only keep empty folder
data/*
!data/.gitkeep
data*/
# 忽略名为 logs 的文件夹
logs/

# 忽略名为 wandb 的文件夹
wandb/

# 忽略所有以 result 为前缀的文件夹
result*/

# all checkpoints
checkpoint*/

#
LMQ*/
GMQ*/

.chainlit/
cache/
