*.log
*.tmp
.vscode/
.idea/
# 忽略操作系统生成的文件（例如，macOS 或 Windows）
.DS_Store       # macOS 下的 Finder 元数据
Thumbs.db       # Windows 缩略图缓存

# 忽略 Python 编译后的文件
*.pyc
*.pyo

# only keep empty folder
data/*
!data/.gitkeep
